<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>book_add.html</title>
</head>
<body>

    <h3>Add your book</h3>
    <form method="POST">
        <input type="number" name="id_num" placeholder="ID">
        <br><br>
        <input type="text" name="name" placeholder="Book Name">
        <br><br>
        <input type="text" name="author" placeholder="Author">
        <br><br>
        <input type="text" name="image" placeholder="Image URL">
        <br><br>
        <button>Save</button>
    </form>
    
</body>
</html>